html {
    overflow-y: auto;
    font-family: sans-serif;
}

#dropzone {
    border-radius: 10px;
    margin: 10px auto;
    width: 70vw;
    height: 20vw;
    border: 3px dotted #4a4a4a;
    background-image: url("upload.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

section {
    padding-left: 10vw;
    padding-right: 10vw;
}

@keyframes fade {
    from {
        opacity: 100%;
    }
    to {
        opacity: 1%;
    }
}

html {

}

.drag {
    -webkit-app-region: drag;
}


.margine {
    margin-left: -3px;
    margin-right: -3px;
}

#close-btn {
    -webkit-app-region: no-drag;
}

.fixed {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 0px;

}

.right {
    right: 0px;
    display: flex;
}

.btn {
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    border-bottom: 0;
    padding: 2px;
    background-color: #fae8b9;
    text-align: center;
    cursor: pointer;

}

.btn:hover {
    background-color: #ffe08a;
}

.jaune {
    background-color: #ffe08a;
}

#marginBtn {
    margin-right: 100px;
}

#titlebar2 {
    /*-webkit-app-region: drag;*/
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2px;

    border: 1px solid #41557b;
    border-bottom: 0;
    z-index: 1000;
}

